body {
  margin: 0px;
  font-family: "Space Grotesk", sans-serif;
  color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 483px;
  background-image: url("images/bg-main-desktop.png");
  color: black;
  align-items: center;
  justify-content: center;
}
.both-faces-preview {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
}
.top-face-card-preview {
  background-image: url("images/bg-card-front.png");
  width: 447px;
  height: 245px;
  margin-bottom: 30px;
  margin-left: 260px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 0px 40px #2f2f2f;
}
.bottom-face-card-preview {
  background-image: url("images/bg-card-back.png");
  width: 447px;
  height: 245px;
  margin-left: 450px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 0px 40px #2f2f2f;
}
.border_help {
  border: 2px solid dodgerblue;
}
.card-number-prv {
  position: absolute;
  top: 110px;
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
  height: fit-content;
  font-size: 1.8em;
  font-weight: 500;
  color: #fff;
}
.cardholder-name-prv {
  position: absolute;
  top: 190px;
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.dates-prv {
  position: absolute;
  top: 190px;
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.card-logo {
  position: absolute;
  top: 30px;
  margin-left: 30px;
}
.cvc-prv {
  position: absolute;
  top: 370px;
  margin-left: 356px;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 700;
}
.right-div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.card-details-container {
  position: absolute;
  left: 450px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600px;
  visibility: visible;
}
.date-cvc {
  display: flex;
}
.input-tags {
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 20px;
  color: rgb(31, 11, 46);
  position: absolute;
}
#name-input {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  width: 400px;
  line-height: 40px;
  border-radius: 7px;
  font-size: 18px;
  border: 1.5px solid #937dc2;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
#cardnumber {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  width: 400px;
  line-height: 40px;
  border-radius: 7px;
  font-size: 18px;
  border: 1.5px solid #937dc2;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.date-input {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  width: 70px;
  text-align: center;
  line-height: 30px;
  border-radius: 7px;
  font-size: 16px;
  border: 1.5px solid #937dc2;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.cvc-input {
  margin-left: 40px;
}
#cvc-input {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  width: 100px;
  text-align: center;
  line-height: 30px;
  border-radius: 7px;
  font-size: 16px;
  border: 1.5px solid #937dc2;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.confirm-btn {
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  background-color: rgb(31, 11, 46);
  border: none;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  width: 400px;
  padding-left: 11px;
  padding-right: 11px;
  line-height: 50px;
}
.hidden-error-text {
  color: rgb(255, 53, 53);
}
.confirmed-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 450px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 450px;
}
#note {
  color: #937dc2;
}
.footer {
  position: absolute;
  bottom: 5px;
}
a {
  color: #937dc2;
  text-decoration: overline;
}

/*  Responsiveness Media Queries  */

/* For tablets: 768px x 734px */
@media screen and (max-width: 768px) {
  .left-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background-image: url("images/bg-main-mobile.png");
    color: black;
    align-items: center;
    justify-content: center;
  }
  .both-faces-preview {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: fit-content;
  }
  .top-face-card-preview {
    background-image: url("images/bg-card-front.png");
    width: 447px;
    height: 245px;
    scale: 0.7;
    margin-bottom: 10px;
    margin-left: 210px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 40px #2f2f2f;
  }
  .bottom-face-card-preview {
    position: relative;
    bottom: 60px;
    background-image: url("images/bg-card-back.png");
    width: 447px;
    height: 245px;
    scale: 0.7;
    margin-left: 210px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 40px #2f2f2f;
  }
  .card-details-container {
    position: absolute;
    left: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600px;
    visibility: visible;
  }
  .confirm-btn {
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    background-color: rgb(31, 11, 46);
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    width: 290px;
    padding-left: 11px;
    padding-right: 11px;
    line-height: 50px;
  }
  #name-input {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    width: 290px;
    line-height: 40px;
    border-radius: 7px;
    font-size: 18px;
    border: 1.5px solid #937dc2;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  #cardnumber {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    width: 290px;
    line-height: 40px;
    border-radius: 7px;
    font-size: 18px;
    border: 1.5px solid #937dc2;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .right-div {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
  }
  .hidden-error-text {
    color: rgb(255, 53, 53);
    font-size: 12px;
  }
  .cvc-prv {
    position: absolute;
    top: 95px;
    margin-left: 356px;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 700;
  }
  .confirmed-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 200px;
  }
  .input-tags {
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 20px;
    color: rgb(31, 11, 46);
    position: absolute;
  }
}

/* For phones: 480px */
@media screen and (max-width: 480px) {
  body {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .left-div {
    display: flex;
    height: 240px;
    width: 100%;
    background-image: url("images/bg-main-mobile.png");
    object-fit: cover;
    color: black;
    align-items: center;
    justify-content: center;
  }
  .both-faces-preview {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    transform: scale(0.8);
  }
  .top-face-card-preview {
    background-image: url("images/bg-card-front.png");
    position: absolute;
    top: 110px;
    right: 25px;
    width: 447px;
    height: 245px;
    margin-left: 0px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 40px #2f2f2f;
    z-index: 1;
  }
  .bottom-face-card-preview {
    position: relative;
    left: 15px;
    bottom: 1px;
    background-image: url("images/bg-card-back.png");
    width: 447px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 245px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 40px #2f2f2f;
  }
  .right-div {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 480px;
    align-items: center;
    justify-content: center;
  }
  .card-details-container {
    position: absolute;
    left: 65px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600px;
    visibility: visible;
  }
  .footer {
    position: absolute;
    left: 15px;
    bottom: 5px;
    font-size: 10px;
    width: 400px;
  }
  .confirmed-page {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 65px;
  }
  .input-tags {
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 20px;
    color: rgb(31, 11, 46);
    position: absolute;
  }
}
